.Project_component{
    background-color: #1a2342;
    margin-top: -22px;
    padding-bottom: 50px;
}
.flexDiv{
    display: flex;
   margin-left: 10%;
   margin-right: 10%;
   gap: 10%;
   margin-top: 100px;

}
.project-Title{
    text-align: center;
    padding-top: 50px;
}
.Project_component img{
    border-radius: 20px;
}